<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107616781516-mh87543pskmcaisqiqn5gk5scs95rf3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107616781516-mh87543pskmcaisqiqn5gk5scs95rf3i</string>
	<key>API_KEY</key>
	<string>AIzaSyD7i_-kPtPVSbYz_cnoEWQEe4j8FQBQlFc</string>
	<key>GCM_SENDER_ID</key>
	<string>107616781516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.decoNews</string>
	<key>PROJECT_ID</key>
	<string>my-push-notifications-32b31</string>
	<key>STORAGE_BUCKET</key>
	<string>my-push-notifications-32b31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:107616781516:ios:b9967fa080acb411</string>
	<key>DATABASE_URL</key>
	<string>https://my-push-notifications-32b31.firebaseio.com</string>
</dict>
</plist>
